body {
    background-color: whitesmoke;
    background-image: url(../img/background.png);
    font-family: 'Lexend', sans-serif;
}

h1 {
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
}

.log {
    background-color: rgb(37, 37, 37);
    color: whitesmoke;
    font-size: x-large;
}

.magenta {
    color: rgb(228, 0, 209);
}

.magenta_reverse {
    color: white;
    background-color: rgb(228, 0, 209);
    font-weight: bold;
}

.white {
    color: whitesmoke;
}

.white_reverse {
    color: grey;
    background-color: whitesmoke;
    font-weight: bold;
}

.blue {
    color: cornflowerblue;
}

.blue_reverse {
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
}

.yellow {
    color: yellowgreen;
}

.yellow_reverse {
    color: white;
    background-color: yellowgreen;
    font-weight: bold;
}