{% extends 'base.html' %}
{% block content %}


<div class="p-2 my-2">
    <h1> Derby Game Simulator </h1>
</div>

<div class="container-fluid p-1 my-1">
    <div class="row">
        <div class="col-sm-4">
            {% if info["run"] == False %}
            <button type="button" class="btn btn-success btn-block" onclick="window.location.href='/start'">
                Start
            </button>
            {% else %}
            <button type="button" class="btn btn-success btn-block disabled">
                Start
            </button>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if info["run"] == True %}
            <button type="button" class="btn btn-danger btn-block" onclick="window.location.href='/stop'">
                Stop
            </button>
            {% else %}
            <button type="button" class="btn btn-danger btn-block disabled">
                Stop
            </button>
            {% endif %}
        </div>
        <div class="col-sm-4">
            {% if (info["run"] == False) and game_id != 0 %}
            <a href="/static/tmp/stats.zip" download>
                <button type="button" class="btn btn-dark btn-block"> <i class="fa fa-download"></i>
                    Download Stats
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid border log">
    {{ data | safe }}
</div>

{% endblock %}